# Workspace configuration
packages[]=apps/*
packages[]=packages/*

# GitHub Packages (personal scope)
@Bobnoddle:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}

# Only run build scripts for Prisma
onlyBuiltDependencies=@prisma/engines
onlyBuiltDependencies=prisma
onlyBuiltDependencies=esbuild
onlyBuiltDependencies=msgpackr-extract
onlyBuiltDependencies=sharp
onlyBuiltDependencies=simple-git-hooks
