# Workspace configuration
packages[]=apps/*
packages[]=packages/*

# Only run build scripts for Prisma
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
only-built-dependencies[]=esbuild
only-built-dependencies[]=msgpackr-extract
only-built-dependencies[]=sharp
only-built-dependencies[]=simple-git-hooks
